
body {
    align-items: center;
}

header > h1 {
    text-align: center;
    font-size: 3rem;
}


.subtitle {
    background-color: #f3d6d6;
    font-family: "Orelega One", cursive;
    text-align: center;
    border-radius: 10px;
    width: 100%;
    padding: 7px;
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 2em;
}

.boton-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3d6d6;
    width: 100%;
    height: 3vw;
}

.buttonAddProd {
    width: 200px;
    height: 30px;
    border: 2px solid black;
    border-radius: 10px;
    color: white;
    background-color: black;
}

.buttonAddProd:hover {
    background-color: rgb(65, 75, 78);
}

.modalContenedor {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    transition: all .4s ease-in;

    opacity: 0;
    visibility: hidden;
}

.modalForm {
    width: 600px;
    height: 500px;
    background-color: beige;
    padding: 10px;
    text-align: center;
    font-size: 2rem;
    border-radius: 25px;
}

.verModalForm {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

.btnAgregarProd {
    width: 60%;
}

.grid-container {
    display: grid;
    gap: 1em;
    justify-items: center;
    justify-content: center;
    width: 100%;
    background-color: lightcoral;
    grid-template-columns: repeat(4, 1fr);
}

.grid-container > div {
    width: 250px;
    height: 380px;
    margin-top: 30px;
    background-color: whitesmoke;
    border: 3px solid black;
    padding: 5px;
    
}

.grid-container > div > h3 {
    color: rgb(206, 109, 96);
    background-color: lightgreen;
    font-weight: bold;
    width: 100%;
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 90px;
}

.grid-container > div > p {
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    font-size: 1.3em;
}

.grid-container > div > button {
    margin-top: 10px;
    border-radius: 10px;
    margin-left: 100px;

}
